.html {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: #1e2125;
}

.Cpu {
  color: whitesmoke;
  min-height: 100vmin;
}

.navd {
  color: #030624;
}

.full-height {
  min-height: 100vmin;
}

.bgcolor {
  background-color: #121212;
}

.ce {
  border-radius: 1rem;
}

.cardsize img {
  max-block-size: 13rem;
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em; */
}
.table {
  margin-top: 40px;
}

.nv {
  background-image: url(https://i.imgur.com/Psv3JXA.jpg);
  background-position: center;
}

.radeon {
  background-image: url(https://i.imgur.com/6UPcHpZ.jpg);
  background-position: center;
}

.amdcpu {
  background-image: url(https://i.imgur.com/Ng1znsJ.jpg);
  background-position: center;
}

.intelcpu {
  background-image: url(https://i.imgur.com/YpsH7rG.jpg);
  background-position: center;
}

.head {
  font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
  font-size: 5vmax;
  padding: 20px;
  color: floralwhite;
  max-width: 100%;
}

.horizontal-rule {
  border-top: 1px solid #666666;
  margin-top: 1vmax;
}

.block {
  position: relative;
  background: black;
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    yellow,
    red,
    purple,
    blue,
    cyan,
    green,
    lime
  );
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: 1;
  animation: animate 20s linear infinite;
  background-size: 200%;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  filter: blur(20px);
}

.buildFont {
  font-family: Helvetica, sans-serif;
  color: #dbdbdb;
}

.box {
  position: -webkit-sticky;
  padding: 5px;
  position: sticky;
  top: 0;
  background: #1e2125;
  z-index: 1;
  border-radius: 5px;
}

.price {
  font-size: 1.7em;
}

.para {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
}

.guide {
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  margin-top: 20px;
}

.footer-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  color: red;
}

.footer-container {
  padding: 20px;
  background-color: #1e2125;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.linkStyle {
  color: rgb(4, 175, 152);
}

.linkStyle:hover {
  text-decoration: none;
  color: rgba(4, 175, 152, 0.671);
}

.footer-items {
  text-align: left;
}

.footer-items p {
  cursor: default;
}

@media only screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-items {
    padding: 10px;
  }
}
