.nav {
  background-color: #1e2125;
}

.Cpu {
  color: whitesmoke;
  min-height: 100vmin;
}

.navd {
  color: #030624;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.full-height {
  min-height: 100vmin;
}

.bgcolor {
  background-color: #121212;
}

.hr {
  border-top: 1px solid white;
  margin: 3rem;
}

.ce {
  border-radius: 1rem;
}

.cardsize img {
  max-block-size: 13rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.table {
  margin: auto;
}

.nv {
  background-image: url(https://i.imgur.com/Psv3JXA.jpg);
}

.amdcpu {
  background-image: url(https://i.imgur.com/Ng1znsJ.jpg);
  background-position: center;
}
